<!-- <div>
<div class="form-group">
    <label>First Name</label>
    <input class="form-control" placeholder="First Name" [(ngModel)]="firstName">
</div>
<div class="form-group">
    <label>Last Name</label>
    <input class="form-control" placeholder="Last Name" [(ngModel)]="lastName">
</div>
<div class="form-group">
    <label>Customer Address</label>
    <input class="form-control" placeholder="Customer Address" [(ngModel)]="customerAddress">
</div>
<button type="submit" (click)="onSaveButtonClick()">Save</button>
</div> -->

<!-- <h2>Child Component</h2> -->

<!-- <button>Create Customer</button> -->

<div class="form-group">
    <label>First Name</label>
    <input class="form-control" placeholder="First Name" [(ngModel)]="firstName" >
</div>
<div class="form-group">
    <label>Last Name</label>
    <input class="form-control" placeholder="Last Name"[(ngModel)]="lastName" >
</div>
<div class="form-group">
    <label>Customer Address</label>
    <input class="form-control" placeholder="Customer Address"[(ngModel)]="customerAddress">
</div>
<button type="submit" (click)="onSaveButtonClick()">Save</button>


<!-- <ul>
    <li *ngFor="let message of showMessage">{{message}}</li>
</ul> -->

<!-- <p *ngFor="let message of showMessage">{{message}}</p> -->
<!-- <p *ngIf="!showMessage">{{showMessage}}</p> -->