<h2>Child component 3</h2>

<div class="form-group">
    <label>Vehicle Type Id</label>
    <input class="form-control" placeholder="Vehicle Type Id" [(ngModel)]="vehicleTypeId">
</div>
<div class="form-group">
    <label>Customer Account Id</label>
    <input class="form-control" placeholder="Customer Account Id" [(ngModel)]="customerAccountId">
</div>
<div class="form-group">
    <label>Is Assigned</label>
    <input class="form-control" placeholder="Is assigned" [(ngModel)]="isAssigned">
</div>
<button type="submit" (click)="onSaveButtonClick()">Save</button>

<!-- <h2>Child component 2</h2>

<div class="form-group">
    <label>Vehicle Type Id</label>
    <input class="form-control" placeholder="Vehicle Type Id" [(ngModel)]="transactionTypeId">
</div>
<div class="form-group">
    <label>Customer Account Id</label>
    <input class="form-control" placeholder="customer Account Id" [(ngModel)]="customerAccountId">
</div>
<div class="form-group">
    <label>Is Assigned</label>
    <input class="form-control" placeholder="isAssigned" [(ngModel)]="amount">
</div>
<button type="submit" (click)="onSaveButtonClick()">Save</button> -->

