<h2>Child component 4</h2>

<div class="form-group">
    <label>Vehicle Id</label>
    <input class="form-control" placeholder="Vehicle Id" [(ngModel)]="vehicleId">
</div>
<div class="form-group">
    <label>LP Number</label>
    <input class="form-control" placeholder="LP Number" [(ngModel)]="lpnumber">
</div>
<div class="form-group">
    <label>LP State</label>
    <input class="form-control" placeholder="LP State" [(ngModel)]="lpstate">
</div>
<button type="submit" (click)="onSaveButtonClick()">Save</button>